/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
header,
main,
footer {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    
    main
     {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.logo {
    font-size: 30px;
    line-height: 37px;
    color: #95E1D3;

}

@media (max-width: 768px) {


    #menu-togle {
     display: none;

    }

    label {
        width: 30px;
        display: block;
        position: absolute;
        right: 15px;
        top: 40px;
    }

    label span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #333333;
        
    }

    label span::before {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: #333333;
        position: absolute;
        top: -10px;

    }

    label span::after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: #333333;
        position: absolute;
        top: 10px;

    }
}

section {
    padding: 50px 0;
}

@media (max-width: 426px) {
    section
     {
        padding: 20px 0;
    }
}

/* header */
header {
    padding: 20px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    header
     {
        padding-left: 15px;
        padding-right: 15px;
    }
}



.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    text-shadow:  0 0 #333333;
    

}

.nav-menu li {
    margin-left: 55px;
}

.nav-menu a {
    color: #95E1D3;
    text-decoration: none;
    padding-bottom: 10px;
    transition: all .5s;
}

.nav-menu a:hover {
    color: #F38181;
    border-bottom: 3px solid #F38181;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 80px;
        background: #fff;
        padding: 40px 0;
        

    }

    .nav-menu li {
        text-align: center;
        margin-bottom: 50px;
        font-size: 24px;
    }

    #menu-togle:checked ~ .nav-menu {
        display: block;
    }
    
}
   /* section-title */

 .section-title {
    text-align: center;
    
    
    
} 
.subtitle{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    line-height: 35px;
  
    
}

h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-transform: uppercase;
    
}

hr {
    
    width: 60px;
    height: 4px;
    background: #F38181;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

/* servise-items */

.servise-items {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 33.33%;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 0 35px;
    display: flex;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .item {
       width: 50%;
    }
}

@media (max-width: 426px) {
    .item {
       width: 100%;
       margin-top: 25px;
       margin-bottom: 25px;
    }
}
.item img {
    margin-right: 20px;
}
.item h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.item p {
    font-size: 15px;
    line-height: 22px;
    color: #B6B6B6;

}

 

hr + p {
    font-size: 15px;
    line-height: 18px;
    margin-top: 45px;
    margin-bottom: 30px;
    color: #B6B6B6;
}


/* team  */

.team-members {
    display: flex;

}

.member {
    width: 33.33%;
    margin-left: 30px;
    text-align: center;
}

.member:first-child {
    margin-left: 0;
}

.member img {
    width: 100%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 30px;
    margin-bottom: 10px;
}

@media (max-width: 426px) {
    .member h3 {
        margin: 15px 0 15px;
    } 
}
.member p {
    font-style: italic;
    font-size: 15px;
    line-height: 18px;
    color: #B6B6B6;

}

  @media (max-width: 768px) {
    .team-members {
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .member {
        width: 46%;
        margin-bottom: 15px;
    }
} 

@media (max-width: 426px) {
   
    .member {
        width: 100%;
        margin-left: 0;  
    }  
}  

/* hover */

.member-photo {
    position: relative;
}

.member-photo::before {
    content: '';
    display: block;
    background: linear-gradient(180deg, rgba(239, 139, 138, 0.8) 0%, rgba(229, 207, 130, 0.8) 100%);
    position: absolute;
    left: -10px;
    right: 10px;
    top: -10px;
    bottom: 14px;
    opacity: 0;
    transition: .5s;
}



.social {
    list-style: none;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s;
}
.member-photo:hover::before,
.member-photo:hover .social {
    opacity: 1;
}

.social li {
    width: 57px;
    height: 57px;
    background: #FCE38A;
    margin-left: 1px;
}

.social li:hover {
    background: #95E1D3;
    
}


.social a {
    display: flex;
    height: 100%;
    align-items: center;

}
.social img {
    height: 26px;
}


footer {
    padding: 10px 0;
    border-top: 1px solid #B6B6B6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    footer {
        padding-left: 15px;
        padding-right: 15px;
        
    }

}

@media (max-width: 426px) {
    footer {
    
        flex-direction: column-reverse;
    }

    form {
        margin-bottom: 15px;
    }
}

footer p {
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
    line-height: 17px;
}

footer a {
    color: #F38181;
    text-decoration: none;
}

form {
    display: flex;
}

input::placeholder {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B6B6B6;
}

input[type=email] {
    padding: 11px 10px;
    border: 1px solid #B6B6B6;
    border-radius: 0;
}

input[type=submit] {
    padding: 11px 38px;
    background: #95E1D3;
    border: 1px solid #95E1D3;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;   
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: white;
}

input,
input:focus,
input:active {
    outline: none;
}